#proj {
    color: black; 
}

#coob {
    color: black; 
}

#spell {
    color: black; 
}

#wk2osk {
    color: black; 
}

#home {
    color: black; 
}

#about {
    color: black; 
}

.fas {
    color: #fd5200; 
    align-items: center;
}