.w3-container {
    font-family: sans-serif;
}
.w3-container h1 {
    text-align: center;
}
.w3-bar {
    padding: 16px;
    color : white;
    display: block; 
    font-size: 20px;
    background-color : lime;
}

.w3-container p {
    font-family: verdana;
    font-size: 16px;
    text-emphasis: bold;
    text-align: justify;
}
::-moz-selection { /* Code for Firefox */
    color: cyan;
    background:blue;
}

::selection {
    color: cyan;
    background:blue;
}
.jumbotron {
    text-align: center;
    padding-top: 15px;
    background-image: linear-gradient(to right, lime, cyan);
    padding-bottom: 30px;
}
.card-body {
    background-color: blueviolet;
    color : cyan;
}
#accordion-area {
    background-color: white;
    position: relative;
    overflow: hidden;
}
#notAccordion {
    background-color: blueviolet;
    color: white;
    width: 50%; 
}